# PREPARACIÓN AMBIENTE

In [1]:
import pandas as pd  
import numpy as np

In [5]:
pathArchivos = input("/home/cristina/Escritorio/2019BWB-master")

/home/cristina/Escritorio/2019BWB-master/home/cristina/Escritorio/2019BWB-master/data/

In [6]:
pathArchivos

'/home/cristina/Escritorio/2019BWB-master/data/'

# ÁRBOLES DE DECISIÓN

## CLASIFICACIÓN

Predeciremos si un pagaré de banco es auténtico o falso dependiendo de los cuatro atributos diferentes de la imagen de la nota. Los atributos son la varianza de la imagen transformada en ondas, la curtosis de la imagen, la entropía y el sesgo de la imagen.

In [7]:
#importar archivo
dataset = pd.read_csv(pathArchivos + "bill_authentication.csv",sep=',')

Para obtener información más detallada sobre este conjunto de datos, consulte el repositorio de UCI ML para este conjunto de datos. https://archive.ics.uci.edu/ml/datasets/banknote+authentication

In [8]:
dataset.shape

(1372, 5)

In [9]:
dataset.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [10]:
X = dataset.drop('Class', axis=1)  
y = dataset['Class']

In [11]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [12]:
from sklearn.tree import DecisionTreeClassifier  
classifier = DecisionTreeClassifier()  
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [13]:
y_pred = classifier.predict(X_test)

In [14]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[216   8]
 [  4 184]]
             precision    recall  f1-score   support

          0       0.98      0.96      0.97       224
          1       0.96      0.98      0.97       188

avg / total       0.97      0.97      0.97       412

## REGRESIÓN

Predecir los consumos de gas (en millones de galones) en 48 estados de EE. UU. Según el impuesto a la gasolina (en centavos), el ingreso per cápita (dólares), las carreteras pavimentadas (en millas) y la proporción de población con una licencia de conducir.

In [15]:
#importar archivo
dataset2 = pd.read_csv(pathArchivos + "petrol_consumption.csv")

Dataset original: http://people.sc.fsu.edu/~jburkardt/datasets/regression/x16.txt

In [16]:
dataset2.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [34]:
dataset2.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [35]:
XR = dataset2.drop('Petrol_Consumption', axis=1)  
yR = dataset2['Petrol_Consumption']

In [36]:
from sklearn.model_selection import train_test_split  
XR_train, XR_test, yR_train, yR_test = train_test_split(XR, yR, test_size=0.3, random_state=0)

In [37]:
from sklearn.tree import DecisionTreeRegressor  
regressor = DecisionTreeRegressor()  
regressor.fit(XR_train, yR_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [38]:
yR_pred = regressor.predict(XR_test)

In [39]:
df=pd.DataFrame({'Actual':yR_test, 'Predicted':yR_pred})  
df

    Actual  Predicted
29     534      541.0
4      410      414.0
26     577      648.0
30     571      648.0
32     577      648.0
37     704      644.0
34     487      648.0
40     587      649.0
7      467      414.0
10     580      464.0
11     471      344.0
31     554      648.0
33     628      648.0
27     631      644.0
47     524      540.0

In [40]:
from sklearn import metrics  
print('Mean Absolute Error:', metrics.mean_absolute_error(yR_test, yR_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(yR_test, yR_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(yR_test, yR_pred)))

Mean Absolute Error: 63.46666666666667
Mean Squared Error: 6099.733333333334
Root Mean Squared Error: 78.10078958200957